<h1>The Diocanes</h1>

<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag("Search") %>
<% end %>

<div id="tweets">
	<ul id="tweets-list">
		<% if @tweets %>
			<% @tweets.each do |tweet| %>
				<li class="single-tweet"><%= tweet.html_safe %></li>
			<% end %>
		<% end %>

	</ul>
</div>
